#title {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    background-color: lightblue;
    width: 100%;
    height: 50px;
}

#menu_1 {
    background-color: lightgray;
    float: left;
    width: 20%;
    height: 150px;
}

#menu_2 {
    background-color: lightsalmon;
    float: left;
    width: 20%;
    height: 150px;
}

a {
    text-decoration: none;
    font-size: 20px;
    color: green;
}

#main {
    background-color: rgb(102, 209, 209);
    width: 80%;
    height: 500px;
    float: right;
}

#main_title {
    margin: 40%;
    font-size: 30px;
    font-weight: bold;
}